{% extends "base.html" %}

{% block title %} About Me {% endblock %}

{% block content %}
<h1>About Me</h1>
<span class="name">Sumagna Das</span><br><br>
<span class="labels">Age:</span> <span class="values">{{ age }}</span><br><br>
<span class="labels">Occupation:</span> <span class="values">Student at Nava Nalanda High School</span><br><br>
<span class="labels">Hobbies:</span> <span class="values">Programming, Gaming, Sports</span><br><br>
<span class="labels">Dream:</span> <span class="values">To become a Software Developer</span><br><br>
<span class="labels">Achievements:-</span><br>
<ul><span class="values">
  <li>Google Code-In 2019 finalist for BRL-CAD</li>
</span></ul>
{% endblock %}
