{% extends "base.html" %}

{% block title %}Create entry{% endblock %}

{% block content_title %}Create entry{% endblock %}

{% block content %}
  <form action="{{ url_for('create') }}" class="form-horizontal" method="post">
    <div>
      <h2><label for="title">Title</label></h2>
      <div>
        <input id="title" name="title" type="text" value={{ entry.title }}>
      </div>
    </div>
    <br><br>
    <fieldset class="entry">
    <div>
      <h2><label for="Content">Content</label></h2>
      <div>
        <textarea class="content" id="content" name="content">{{ entry.content }}</textarea>
      </div>
    </div>
        <div>
          <label>
            <input name="published" type="checkbox" value="y"{% if entry.published %} checked="checked"{% endif %}> Published?
          </label>
        </div>
      <div>
        <button type="submit" name='submit' value=Create>Create</button>
        <a href="{{ url_for('index') }}">Cancel</a>
        <button type="submit" formaction="#preview" value="preview" name='submit'>preview</button>
      </div>
    </fieldset>
    {% if preview %}
    <fieldset class='preview' id="preview">
      <h1>{{preview.title}}</h1>
      {{ preview.html_content }}
    </fieldset>
    {% endif %}
  </form>
{% endblock %}
