{% extends "base.html" %}

{% block title %}Edit entry{% endblock %}

{% block content_title %}Edit entry{% endblock %}

{% block content %}
  <form action="{{ url_for('edit', slug=entry.slug) }}" method="post">
    <div>
      <h2><label>Title</label></h2>
      <div>
        <input id="title" name="title" type="text" value="{{ request.form.get('title', entry.title) }}">
      </div>
    </div>
    <br><br>
    <fieldset class="entry">
    <div class="form-group">
      <h2><label>Content</label></h2>
      <div class="col-sm-10">
        <textarea class="content" id="content" name="content">{{ request.form.get('content', entry.content) }}</textarea>
      </div>
    </div>
    <div>
      <div>
        <div>
          <label>
            <input {% if entry.published %}checked="checked" {% endif %}name="published" type="checkbox" value="y"> Published?
          </label>
        </div>
      </div>
    </div>
    <div>
      <div>
        <button type="submit" name='submit' value='edit'>Save</button>
        <a href="{{ url_for('index') }}">Cancel</a>
        <button type="submit" formaction="#preview" value="preview" name='submit'>preview</button>
      </div>
    </div>
  </form>
  {% if preview %}
  <fieldset class='preview' id="preview">
    <h1>{{preview.title}}</h1>
    {{ preview.html_content }}
  </fieldset>
  {% endif %}
{% endblock %}
